<!DOCTYPE html>
<html>
  <head>
    <title>Demande de droit d'accès</title>
    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>Votre demande de droit d'accès</h1>
    <p>
    Bonjour, <%= @user.name + " " + @user.surname %> <br/>
    </p>
    <p>
      Votre demande de droits d'accès a bien été prise en compte et va être traitée
      par nos services dans un délai maximum de 30 jours.
    </p>
    <p>Nous vous remercions pour votre patience.</p>
  </body>
</html>
