<div id = "page-title">
  <h1 class= "text-center">Données Personnelles</h1>
  <h2 class= "text-center">Exercice de mes droits</h2>
</div>

<%= render partial: "layouts/flash_notice", locals: {object: @user} %>

<hr/>

<%= form_for @user do |f| %>
<%= render partial: "layouts/new_user_form", locals: {f: f}%>
<% end %>
