<div class="row">
  <div class="mx-auto">
    <h2 style="padding-top: 30px;">Demande de droits d'accès</h2>
  </div>

</div>
<div class="row">
  <p style="padding: 50px  0px 50px 0px;" class="mx-auto">
    Votre demande de droits d'accès a bien été prise en compte
     et va être traitée par nos services dans un délai maximum de 30 jours</p>
</div>

<%= link_to "Revenir au formulaire", new_user_path %>
