<div class="row">
    <h2 class="mx-auto page-title">Demande d'éffacement</h2>
</div>

<div class="row">
  <p style="font-size: 1.5em;" class="mx-auto informative">
    Votre demande d'éffacement a bien été prise en compte
     et va être traitée par nos services dans un délai maximum de 30 jours</p>
</div>

<%= link_to "Revenir au formulaire", new_user_path, class:"btn btn-primary" %>
