<div class= "row">
  <div class = "col">
    <p>
    <%= :user %>
    <%= :request %>
    Votre demande d<%= :request %> va être traitée par nos services dans un délai maximum de 30 jours.
    </p>
  </div>
</div>
