/* page related */
.page-title {
	padding: 30px;
}

.user-bubble{
	margin-bottom: 50px !important;
	&:btn {
		margin: 10px;
	}
}
.center {
	margin:auto;
}
.submit{
	margin-bottom: 30px;
}

.mandatory, .facultative, .radio, .former-data, .informative {
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow: 1px 1px 12px #555;
}
.attribute_title {
	text-decoration: underline;
	font-weight: bold;
}
body {
	background-color: #e9ecef !important;
}

.user_methods {
	padding: 10px 20px 0px 20px;
}
